.board-container{

    position: fixed;
    margin: auto ;
    left: 35%;
    top: 20%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px  ;
    grid-template-rows: 100px 100px 100px 100px ;


}